<h1>Convert <%= @from %></h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currencies.keys.each do |to| %>
  <li>
    <a href="/<%= @from %>/<%= to %>">
      Convert 1 <%= @from %> to <%= to %>...
    </a>
  </li>
  <% end %>
</ul>
